BODY.main	{
	background-color: #F8F3E6;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 10pt; color: #330000; font-weight: normal;
	margin-top: 20px; margin-left: 10px; margin-right: 5px;
}
HR {color: #993300 }
blockquote {margin-top: 5px; margin-bottom: 5px;}

.t7 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 7pt;}
.t8 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 8pt;}
.t9 {font-size: 9pt;}
.t10 {font-size: 10pt;}
.t11 {font-size: 11pt;}
.t12 {font-size: 12pt;}
.t13 {font-size: 13pt; color: #663333;}
.t14 {font-size: 14pt; color: #663333;}
.sym {font-family:Symbol;}
.d8 {font-size:8pt; color:#808080;}
.r8 {font-size:8pt; text-align:right;}
.c8 {font-size:8pt; text-align:center;}

H1 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 16pt; font-weight: bold; color: #663333; text-align: center; letter-spacing: 1px;}

H2 {font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 14pt; font-weight: bold; color: #663333; text-align: center; letter-spacing: 1px;}

H3 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 13pt; font-weight: bold; color: #663333; text-align: center; letter-spacing: 1px;}

H4 {
	font-family: Arial,Verdana,Helvetica,Sans-Serif;
	font-size: 13pt;
	font-weight: bold;
	color: #663333;
	letter-spacing: 1px;
  text-align: left;
  margin-left: 5px;
}
H5 {
	font-family: Arial,Verdana,Helvetica,Sans-Serif;
	font-size: 9pt;
	font-weight: bold;
	color: #663333;
	letter-spacing: 1px;
  text-align: center;
}

P	{font-family: Verdana,Helvetica,Arial,sans-serif; font-weight: normal;
 font-size: 10pt; color: #330000; line-height: 125%;
 margin-top: 5px; margin-bottom: 5px; margin-left: 3px; margin-right: 3px; }

P.r	{text-align: right;}
P.c	{text-align: center;}
P.l	{text-align: left;}
P.a {text-indent: 32px;}

P.head {font-family: Arial,Verdana,Helvetica,Tahoma,Sans-Serif;
	font-size: 9pt;
	font-weight: bold;
	color: #330000;
	letter-spacing: 1px;
  text-align: center; margin-top: 0px; margin-bottom: 0px;}
 
P.m11 {
  font-family: Arial,Verdana,Helvetica,Tahoma,Sans-Serif;
  font-size: 11pt;
  margin-left: 5px;
  margin-right: 3px;
  text-align: left;
}

P.m8 {
  font-family: Verdana,Helvetica,Arial,Tahoma,Sans-Serif;
  font-size: 8pt;
  margin-left: 5px;
  margin-right: 3px;
  text-align: left;
}

OL {margin-top: 5px; margin-left: 15px;}
UL {margin-top: 5px; margin-left: 15px;}

LI {margin-top: 8px; margin-bottom: 1px; margin-left: 15px;}
LI.j {margin-top: 8px; margin-bottom: 1px; margin-left: 15px; margin-right: 5px; text-align: justify;}
LI.nm {margin-top: 3px; }

TD {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 10pt; font-style: normal; color: #330000; vertical-align: top;}

TD.cl {text-align: left; background-color: #F8F3E6;}
TD.cc {text-align: center; background-color: #F8F3E6;}
TD.cr {text-align: right; background-color: #F8F3E6;}
TD.cj {text-align: justify; background-color: #F8F3E6;}
TD.cl8 {font-size: 8pt; text-align: left; background-color: #F8F3E6;}
TD.cc8 {font-size: 8pt; text-align: center; background-color: #F8F3E6;}

TH {font-family: Verdana,Helvetica,Arial,Sans-Serif; font-size: 10pt; font-weight: normal; font-style: normal; color: #330000; background-color: #F2EAD9; }

TH.cc8 {font-size: 8pt; }

.link {color: #A52A2A;}
A:link {color: #A52A2A; text-decoration: none;}
A:visited {color: #A52A2A; text-decoration: none;}
A:hover {color: #CC3300; text-decoration: underline;}

A.nc:link {color: #5E1D11;}
A.nc:visited {color: #5E1D11; }
A.nc:hover {color: #CC3300; text-decoration: underline;}

A.nav:link {color: #5E1D11;}
A.nav:visited {color: #5E1D11; }
A.nav:hover {color: #CC3300; text-decoration: none;}

FORM {margin-top: 3px; margin-bottom: 3px;}

